[submodule "support/rslidar_ros2_ws/src/rslidar_msg"]
	path = support/rslidar_ros2_ws/src/rslidar_msg
	url = https://github.com/RoboSense-LiDAR/rslidar_msg.git
[submodule "support/rslidar_ros2_ws/src/rslidar_sdk"]
	path = support/rslidar_ros2_ws/src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
