<launch>

    <arg name="rosconsole" default="info"/>
    <arg name="with_rviz" default="true"/>
    <arg name="with_rbf" default="true"/>
    <arg name="with_robot_tf" default="false"/>
    <arg name="tum_trajectory_path" default="/root/code/rbf_lio/result_0331/staircase2/trajectory_tum.txt"/>
    <arg name="rbf_file_path" default="/root/code/rbf_lio/result_0331/staircase2"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_$(arg rosconsole).conf"/>

    <!-- LIO core parameters (contains 15cm lidar init and online z calibration params). -->
    <rosparam file="$(find lio_sam)/config/paramsLivoxIMU.yaml" command="load" />
    <param name="lio_sam/saveTUMTrajectoryPath" value="$(arg tum_trajectory_path)" />

    <!-- LIO-SAM front/back-end -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!-- Use WF_TRON1A robot model -->
    <param name="robot_description" textfile="$(find robot_description)/pointfoot/WF_TRON1A/urdf/robot.urdf"/>
    <node if="$(arg with_robot_tf)"
          name="joint_state_name_adapter"
          pkg="lio_sam"
          type="joint_state_name_adapter.py"
          output="screen"
          respawn="true">
        <param name="input_topic" value="/joint_states" />
        <param name="output_topic" value="/joint_states_tron1a" />
        <param name="refresh_stamp" value="true" />
    </node>
    <node if="$(arg with_robot_tf)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="true">
        <remap from="/joint_states" to="/joint_states_tron1a" />
    </node>

    <!-- Optional RBF terrain fitting module -->
    <include if="$(arg with_rbf)" file="$(find cuda_rbf)/launch/run_rbf.launch">
        <arg name="file_path" value="$(arg rbf_file_path)" />
    </include>

    <!-- Optional RViz -->
    <include if="$(arg with_rviz)" file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
